.card {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
    outline-width: 3px;
    margin: 10px;
    width: calc(33.33% - 25px); /* 1/3 of the available width with 20px spacing on each side */
    display: inline-block;
    border-radius: 10px;
    height: auto;
    border: 1px solid black;
}

/* Add some spacing and background color to the card body */
.card-body {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    text-align: center; /* Center text horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center non-text content vertically */
    align-items: center; /* Center non-text content horizontally */
}



/* Style for the card title (item name) */
.card-title {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add an ellipsis for overflow text */
}

/* Style for the item description */
.card-text {
    color: black;
    font-size: 14px;
    overflow: hidden; /* Hide overflow text */
}
.card:after {
    content: "";
    display: table;
    clear: both;
}

/* Style for the action buttons (Update and Delete) */
.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 45%;
    margin-top: 10px;
    display: block;
    background-color: black;
    margin-right: 7px;
    border: 1px solid black;
}

/* Ensure that the buttons within the card body are side by side */
.btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}