.card {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
    outline-width: 3px;
    margin: 10px;
    width: calc(33.33% - 25px); 
    display: inline-block;
    border-radius: 10px;
    height: auto;
    border: 1px solid black;}


.card-body {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.card-title {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; }


.card-text {
    color: black;
    font-size: 14px;
    overflow: hidden; }

.card:after {
    content: "";
    display: table;
    clear: both; }

.btn-container {
    display: flex;
    justify-content: space-between; }

.btn {
    width: 45%;
    margin-top: 10px;
    display: block;
    background-color: black;
    margin-right: 7px;
    border: 1px solid black; }

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%; }