@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.title-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.title-content {
    display: flex;
    align-items: center;
}

.title-emblem {
    margin-right: 10px; 
    width: 50px; 
    height: 50px; 
}

.title-text {
    font-size: 24px; 
    color: black; 
}


.nav-bar {
    color: black;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav-button {
    color: white;
    margin-right: 5px;
    padding: 10px 0px;
    flex-grow: 1; 
    text-align: center;
}

.nav-link {
    border-right: 1px solid white;
}

/* Style for the table */
#myTable {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid white;
}

#myTable th, #myTable td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
/*GLOW ON HOVER GREEN COLORS*/
.glow-on-hover-g {
    font-family: Arial;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #000000;
    background: rgb(36, 36, 36);;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover-g:before {
    content: '';
    background: linear-gradient(45deg, #1eff4414, #1eff4443, #1eff4465, #1eff448d, #1eff44a1, #1eff44c4, #1eff44dc, #1eff45, #1eff45);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 500%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.glow-on-hover-g:hover:before {
    opacity: 1;
}
.glow-on-hover-g:active {
    color: #000000;
}

.glow-on-hover-g:active:after {
    background: transparent;
}

.glow-on-hover-g:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*GLOW ON HOVER BLUE COLORS*/
.glow-on-hover-b {
    font-family: Arial;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #000000;
    background: rgb(36, 36, 36);;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover-b:before {
    content: '';
    background: linear-gradient(45deg, #2db2ff16, #2db2ff3d, #2db2ff80, #2db2ff9c, #2db2ffa8, #2db2ffc9, #2db2ffe2, #2db2ff, #2db2ff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 500%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.glow-on-hover-b:hover:before {
    opacity: 1;
}
.glow-on-hover-b:active {
    color: #000000;
}

.glow-on-hover-b:active:after {
    background: transparent;
}

.glow-on-hover-b:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*GLOW ON HOVER RED COLORS*/
.glow-on-hover-r {
    font-family: Arial;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #000000;
    background: rgb(36, 36, 36);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover-r:before {
    content: '';
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(200, 0, 0), rgb(170, 0, 0), rgb(130, 0, 0), rgb(100, 0, 0), rgb(130, 0, 0), rgb(170, 0, 0), rgb(200, 0, 0), rgb(255, 0, 0));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    color:black;
}

.glow-on-hover-r:active {
    color: white;
}

.glow-on-hover-r:active:after {
    background: transparent;
}

.glow-on-hover-r:hover:before {
    opacity: 1;
}

.glow-on-hover-r:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* GLOW ON HOVER DEFAULT COLORS*/
.glow-on-hover {
    font-family: Arial;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: #000000;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Style for the input element */
#myInput {
    font-size: 18px;
    color: #333;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    text-align: center;
}
#partTable {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid white;
}

#partTable th, #partTable td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
#myInputPart {
    font-size: 18px;
    color: #333;
    border-radius: 10px;
    width: 200px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    text-align: center;
    }
    #invoiceTable {
        border-collapse: separate;
        border-spacing: 0;
        border: 2px solid white;
    }
    
    #invoiceTable th, #invoiceTable td {
        border: 1px solid white;
        padding: 8px;
        text-align: left;
    }
    #myInputInvoice {
        font-size: 18px;
        color: #333;
        border-radius: 10px;
        width: 200px; /* Adjust the width as needed */
        height: 40px; /* Adjust the height as needed */
        text-align: center;
        }