<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Cardstyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;}

        body {
            background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(46, 46, 46));
            color: white;
            margin: 0;
            padding: 0;
            background-image: url('/static/CarParts.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            background-attachment: fixed;}

    </style>
</head>
<body>
    <div class="title-bar">
        <div class="title-content">
            <img class="title-emblem" style="position: absolute; top: 0; left: 0;" src="{{ url_for('static', filename='IMSEmblem.png') }}" alt="IMS Emblem">
            <!-- Website title -->
            <h1 class="title-text">Invoices</h1>
        </div>
    </div>
    <!-- Navigation bar -->
    <div class="nav-bar">
        <a href="{{ url_for('orderInventory') }}" style="text-decoration: none;" class="nav-button nav-link"><b>Orders</b></a>
        <a href="{{ url_for('partInventory') }}" style="text-decoration: none;" class="nav-button nav-link"><b>Parts</b></a>
        <a href="{{ url_for('invoiceInventory') }}" style="text-decoration: none;" class="nav-button nav-link"><b>Invoices</b></a>
        <a href="{{ url_for('homepage') }}" style="text-decoration: none;" class="nav-button nav-link"><b>Home</b></a>
    </div>

    <div class="container">
        <br>
        <br>
        <center><input type="text" id="myInput" placeholder="Search Invoices..."></center>
        <br>
        <center><a style="left:4px; width:200px; border-radius: 10px; border: 1px solid black" href="{{ url_for('invoiceAddTo') }}" class="btn glow-on-hover"> Add Invoice </a></center>
        <br>
        {% for item in items %}
        <div class="card mb-3">
            <img class="status-icon" src="{{ url_for('static', filename=status_invoice(item.total_price, item.price_paid, item.date)) }}" alt="Status Icon">
            <div class="card-body">
               <center> <h5 style= 'color:black'class="card-title">{{ item.name }}</h5> </center>
                <p class="card-text">
                    <strong>Invoice #:</strong> {{ item.inv_num }}<br>
                    <strong>Name:</strong> {{ item.name }}<br>
                        <strong>Year:</strong> {{ item.year }}
                        <strong>Make:</strong> {{ item.make }}
                        <strong>Model:</strong> {{ item.model }} <br>
                    <strong>Mileage:</strong> {{ item.mileage }}<br>
                    <strong>Part Numbers:</strong> {{ item.part_numbers }}<br>
                    <strong>Parts Names:</strong> {{ item.parts_used }}<br>
                    <strong>Order #:</strong> {{ item.order_num }}<br>
                    <strong>Work Done:</strong> {{ item.work_done }}<br>
                    <strong>Time Worked On:</strong> {{ item.time_worked_on }}<br>
                    <strong>Total Price:</strong> {{ item.total_price }}<br>
                    <strong>Price Paid:</strong> {{ item.price_paid }}<br>
                    <strong>Payment Method:</strong> {{ item.payment_method }}<br>
                    <strong>Description:</strong> {{ item.description }}<br>
                    <strong>Date:</strong> {{ item.date }}<br>
                </p>
                <div class="btn-group" role="group" aria-label="Item Actions">
                    <a href="{{ url_for('edit_invoice', item_id=item.id) }}" style ='margin-left: 10px; border: 1px solid black;border-radius: 10px; background: white;' class="btn glow-on-hover">Update</a>
                    <form action="{{ url_for('delete_invoice', item_id=item.id) }}" method="POST">
                        <button type="submit" style= 'border: 1px solid black;border-radius: 10px; background: white;'class="btn glow-on-hover">Delete</button>
                    </form>

                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <br>
        
    </div>
    <!-- Add Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").keyup(function () {
                var searchTerm = $("#myInput").val().toLowerCase();
    
                $(".card").each(function () {
                    var card = $(this);
                    var cardText = card.find('.card-text').text().toLowerCase();
                    var cardBody = card.find('.card-body').text().toLowerCase();
                    if (cardText.includes(searchTerm) || cardBody.includes(searchTerm)) {
                        card.show();
                    } else {
                        card.hide();
                    }
                });
    
                var visibleCardCount = $('.card:visible').length;
    
                if (visibleCardCount === 0) {
                    // Show 'No results found' or handle as needed
                } else {
                    // Hide 'No results found' or handle as needed
                }
            });
        });
    </script>    
</body>
</html>

