<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Cardstyles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        html, body {
             height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(46, 46, 46)); /*fiolet*/
            color: white;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="title-bar">
        <div class="title-content">
            <img class="title-emblem" style="position: absolute; top: 0; left: 0;" src="{{ url_for('static', filename='IMSEmblem.png') }}" alt="IMS Emblem">
            <!-- Website title -->
            <h1 class="title-text">IMS Solutions</h1>
        </div>
    </div>
    <!-- Navigation bar -->
    <div class="nav-bar">
        <a href="{{ url_for('inventory') }}" style="text-decoration: none;" class="nav-button nav-link glow-on-hover-r"><b>Orders</b></a>
        <a href="{{ url_for('partInventory') }}" style="text-decoration: none;" class="nav-button nav-link glow-on-hover-b"><b>Parts</b></a>
        <a href="{{ url_for('invoiceInventory') }}" style="text-decoration: none;" class="nav-button nav-link glow-on-hover-g"><b>Invoices</b></a>
    </div>

    <div class="container">
        <br>
        <br>
        <center><h1 style="color:black">Parts</h1></center>
        <br>
        <center><input type="text" id="myInput" placeholder="Search Table..."></center>
        <br>

        {% for part in parts %}
        <div class="card mb-3">
            <div class="card-body">
               <center> <h5 style= 'color:black'class="card-title">{{ part.name }}</h5> </center>
                <p class="card-text">
                    
                    <strong>Quantity:</strong> {{ part.quantity }}<br>
                    <strong>Cost Price:</strong> {{ part.cost_price }}<br>
                    <strong>Selling Price:</strong> {{ part.selling_price }}<br>
                    <strong>Date:</strong> {{ part.date }}<br>
                    <strong>Description:</strong> {{ part.description }}
                    
                </p>
                <div class="btn-group" role="group" aria-label="Item Actions">
                    <a href="{{ url_for('edit_part', item_id=part.id) }}" style ='margin-left: 10px; border: 1px solid black;border-radius: 10px; background: white;' class="btn glow-on-hover-b">Update</a>
                    <form action="{{ url_for('delete_part', item_id=part.id) }}" method="POST">
                        <button type="submit" style= 'border: 1px solid black;border-radius: 10px; background: white;'class="btn glow-on-hover-b">Delete</button>
                    </form>
                    <!--Replace with View Part when added-->
                    <a href="{{ url_for('edit_part', item_id=part.id) }}" style ='margin-left:10px; width:93%; border: 1px solid black;border-radius: 10px; background: white;' class="btn glow-on-hover-b">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
        
        <br>
        <center><a href="{{ url_for('partAddTo') }}" class="btn glow-on-hover-b"> Add Order </a></center>
    </div>
    <!-- Add Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").keyup(function () {
                var searchTerm = $("#myInput").val().toLowerCase();
    
                $(".card").each(function () {
                    var card = $(this);
                    var cardText = card.find('.card-text').text().toLowerCase();
                    var cardBody = card.find('.card-body').text().toLowerCase();
                    if (cardText.includes(searchTerm) || cardBody.includes(searchTerm)) {
                        card.show();
                    } else {
                        card.hide();
                    }
                });
    
                var visibleCardCount = $('.card:visible').length;
    
                if (visibleCardCount === 0) {
                    // Show 'No results found' or handle as needed
                } else {
                    // Hide 'No results found' or handle as needed
                }
            });
        });
    </script>    
</body>
</html>
