<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update Order</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
          <style>
            body{
                background-color: rgb(36, 36, 36);
                color: white;
            }
            </style>
</head>
<body>
    <div class="title-bar">
        <div class="title-content">
            <img class="title-emblem" style="position: absolute; top: 0; left: 0;" src="{{ url_for('static', filename='IMSEmblem.png') }}" alt="IMS Emblem">
            
            <h1 class="title-text">IMS Solutions</h1>
        </div>
    </div>
    <div class="nav-bar">
        <a href="{{ url_for('inventory') }}"  class="nav-button nav-link glow-on-hover-b"><b>Orders</b></a>
        <a href="{{ url_for('partInventory') }}"  class="nav-button nav-link glow-on-hover-b"><b>Parts</b></a>
        <a href="{{ url_for('invoiceInventory') }}"  class="nav-button nav-link glow-on-hover-b"><b>Invoices</b></a>
    </div>
    <div class="container mt-5">
        <center><h1 class="mb-4">Update Parts</h1></center>
        <form action="{{ url_for('update_part', item_id=item.id) }}" method="POST">
            <div class="form-group">
                <label for="name">Part Name:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ item.name }}" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" class="form-control" value="{{ item.quantity }}" required>
            </div>
            <div class="form-group">
                <label for="cost_price">Cost Price:</label>
                <input type="number" step="0.01" id="cost_price" name="cost_price" class="form-control" value="{{ item.cost_price }}" required>
            </div>
            <div class="form-group">
                <label for="selling_price">Selling Price:</label>
                <input type="number" step="0.01" id="selling_price" name="selling_price" class="form-control" value="{{ item.selling_price }}" required>
            </div>
            <div class="form-group">
                <label for="date">Date (Optional):</label>
                <input type="text" id="date" name="date" class="form-control" value="{% if item.date %}{{ item.date }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="description">Description (Optional):</label>
                <input type="text" id="description" name="description" class="form-control" value="{% if item.description %}{{ item.description }}{% endif %}">
            </div>
           <center> <button type="submit" style = "margin-right: 20px;" class="btn glow-on-hover-b">Update Part</button>
            <a href="{{ url_for('partInventory') }}" style = "margin-left: 20px;" class="btn glow-on-hover-b">Back to Parts</a> </center>
        </form>
        <br>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpH

